@utility navigation-link {
	@apply inline-flex justify-center items-center gap-x-1 hover:text-custom-cyan transition-colors;
}

@utility rotate-3d {
	transform: perspective(1000px) rotateX(5deg) rotateY(-15deg) rotateZ(1deg);
}

@utility vertical-swiper-slide {
	@apply shrink-0 flex justify-center items-center max-w-64 py-10.25 px-6 my-4 text-2xl font-bold text-center cursor-pointer;
}

@utility gradient-text {
    @apply text-transparent bg-clip-text bg-linear-to-r from-purple-400 via-cyan-400 to-blue-400;
}

@utility glowing-text {
	@apply text-transparent bg-clip-text bg-linear-to-r from-purple-400 via-cyan-400 to-purple-400 bg-size-[200%] animate-[animate-gradient_3s_infinite];
}

@keyframes animate-gradient {
	0%, 100% {
		background-position: 0%;
	}
	50% {
		background-position: 100%;
	}
}